@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
}

.login{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-div{

    background: #EFEFEF 0% 0% no-repeat padding-box;
    border-radius: 100%;
    text-align: center;
    padding: 20px;
    padding-top: 38px;
    padding-bottom: 38px;
}

.welcome{
    color: #0B3558;
    margin-top: 1.2rem;
    margin-bottom: 0.25em;
    font-size: 2.5em;
    font-weight: bolder;
}
.intro{
    text-align: center;
    font-weight: 400;
    color: #0B3558;
    font-size: small;
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
}
.intro p{
    margin: 0;
    padding: 0;
}
.form-control{
    display: flex;
    flex-direction: column;
    padding-top: 0.5em;
}
input, button{
    width: 24em;
    height: 27px;
    margin-bottom: 0.72em;
    padding: 2px 7px;
}
.for-pass{
    text-align: right;
    margin-bottom: 0.72em;
}
a, a:hover{
    text-decoration: none;
    color: #003FB9;
    font-weight: 600;
}
.button{
    background-color: #003FB9;
    color: white;
    border: none;
    border-radius: 4px;
    height: 37px;
    width: 100%;
    font-size: medium;
    cursor: pointer;
}
.eye{
    position: relative;
    top: -37px;
    left: 15.3em;
    font-size: 20px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px 20px 60px;
}   

.footer p{
    color: #728391;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.help{
    display: flex;
    align-items: center;
    gap: 30px;
}

@media only screen and (max-width: 890px) {
    .footer{
        flex-direction: column;
    }

    .footer .help{
        flex-direction: column;
        gap: 0;
    }


}
